
div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span,img, button, textarea, input, article, aside, html, body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: blue!important;
  }
  body,html{
      margin:0;
      padding:0;
  }
  
  li {
    list-style: none
  }

  
  i {
    font-style: normal
  }
  
  img, button, textarea, input {
    border: none;
    outline: none;
    background: transparent
  }
  
  textarea {
    resize: none
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both
  }